* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-container {
  background-color: cornflowerblue;
  display: flex;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  /* flex-direction: column; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column-reverse; */
  flex-flow: wrap column;
}
.flex-container > div {
  background-color: darkcyan;
  margin: 20px;
  padding: 20px;
  font-size: 30px;
}
